{% extends "base.html.twig" %}
{% block body %}
    <h1>Article : {{ title }}</h1>
    <strong>Tags :</strong>
    <ul>
        {% for tag in tags %}
            <li>{{ tag.name }} </li>
        {% else %}
            <li>No tag for this article</li>
        {% endfor %}
    </ul>
{% endblock %}