{% extends "base.html.twig" %}
{% block body %}
    {% for articles in articles %}
        <p>
            {{ articles.title}}({{ articles.category.name }})
        </p>
    {% endfor %}
{% endblock %}